/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**{
    border: 1px solid red;
}*/

/* ========== FONTS ================= */
@font-face {
                font-family: 'AbadiMT-CondensedLight';
                src: url('../fonts/abadiregular/abadimtcondensedlightregular.eot');
                src: url('../fonts/abadiregular/abadimtcondensedlightregular.eot?#iefix') format('embedded-opentype'),
                         url('../fonts/abadiregular/abadimtcondensedlightregular.woff') format('woff'),
                         url('../fonts/abadiregular/abadimtcondensedlightregular.ttf') format('truetype'),
                         url('../fonts/abadiregular/abadimtcondensedlightregular.svg#abadimtcondensedlightregular') format('svg');
                font-weight: normal;
                font-style: normal;
}
@font-face {
                font-family: 'AbadiMT-CondensedExtraBold';
                src: url('../fonts/abadboldregular/abadimtcondensedextraboldregular.eot');
                src: url('../fonts/abadboldregular/abadimtcondensedextraboldregular.eot?#iefix') format('embedded-opentype'),
                         url('../fonts/abadboldregular/abadimtcondensedextraboldregular.woff') format('woff'),
                         url('../fonts/abadboldregular/abadimtcondensedextraboldregular.ttf') format('truetype'),
                         url('../fonts/abadboldregular/abadimtcondensedextraboldregular.svg#abadimtcondensedextraboldregular') format('svg');
                font-weight: normal;
                font-style: normal;
}


/* ========== GLOBAL ================= */

html{
    height: 100%;
}

body{
    background-color: #FFFFFF;
    min-height: 100%;
    position: relative;
}

h1{
    text-align: center;
    font-family: 'AbadiMT-CondensedExtraBold';
    font-size: 58px;
    color: #9FCE37;
    font-weight: 100;
}

.wrapper{
    max-width: 980px;
    margin: auto;
    padding: 75px 10px 400px;
}

header {
    width: 100%;
    border-bottom: 100px;
    text-align: center;
    background-color: rgba(159,206,55, 0.6);
    -moz-box-shadow: 5px 5px 5px rgba(96,96,96, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(96,96,96, 0.6);
    box-shadow: 2px 2px 10px rgba(2,2,2, 0.5);
}

header img {
    margin: auto;
    margin-top: 10px;
}

header nav, header nav ul, header nav li {
    margin:0;
    padding: 0;
}

header nav li {
    display: inline-block;
}

#navlogo {
    height: 50px;
}

header nav a {
    font-family:'AbadiMT-CondensedExtraBold';
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 30px;
    color: #fff;
    letter-spacing: 1.5px;
}

header nav a:hover {
    color: #576C27;
}

.sticky {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 5;
    border-bottom: 100px;
    text-align: center;
    background-color: rgba(159,206,55, 0.6);
    -moz-box-shadow: 5px 5px 5px rgba(96,96,96, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(96,96,96, 0.6);
    box-shadow: 2px 2px 10px rgba(2,2,2, 0.5);
}

footer {
    width: 100%;
    background-image: url(../img/footer_img02.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 300px;
    color: #fff;
    font-size: 0.8em;

    position: absolute;
    bottom: 0;
}

#footerLogo {
    margin-top: 100px;
}

footer nav {
    margin-top: 10px;
    height: 25px;
}
footer nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid white;
}

footer nav a:last-child {
    border-right: none;
}

footer nav a:visited {
    color: white;
}

footer nav a:hover {
    color: #576C27;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
/* ========== HOME PAGE, CAMPSITE PAGE ================= */
#homeImgs, #campsiteImgs {
=======
>>>>>>> Contact Page & Campsite Page html added

/* ========== GREEN BUTTON ============== */

/*
                JUST ADD THIS CODE TO THE HTML
    <a href="#" class="greenbutton">VISIT ALL CAMP SITES</a>
*/

.greenbutton, .cartsubmit{
    position: relative;
    text-shadow:1px 1px 1px rgba(255,255,255,.6);
    font-family: 'AbadiMT-CondensedLight';
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
    padding: 5px 20px 2px 8px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.2), 1px 1px 1px 1px rgba(0,0,0,.2);
    border-radius: 8px;
    text-decoration: none;
    background: rgb(159,158,54); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmOWUzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNmNlMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(159,158,54,1) 0%, rgba(166,206,56,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(159,158,54,1)), color-stop(100%,rgba(166,206,56,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(159,158,54,1) 0%,rgba(166,206,56,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(159,158,54,1) 0%,rgba(166,206,56,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(159,158,54,1) 0%,rgba(166,206,56,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(159,158,54,1) 0%,rgba(166,206,56,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9e36', endColorstr='#a6ce38',GradientType=0 ); /* IE6-8 */
}

.cartsubmit{
    padding: 10px 30px 5px 30px;
    text-align: center;
    border: none;
}

.cartform div{
    float: right;
    position: relative;
}

.cartform div:before{
    z-index: 10;
}


.greenbutton:hover{
    box-shadow:inset 2px 2px 2px rgba(0,0,0,.5),
    1px 1px 1px rgba(255,255,255,.5);
    padding: 6px 19px 1px 9px;
}

.greenbutton:hover:after{
    right:7px;
    top:2px;
}

.greenbutton:hover:before{
    left:2px;
    top:2px;
}

.greenbutton:before, .cartform div:before{
    content: " ";
    position: absolute;
    width: 94%;
    height: 80%;
    border-radius: 5px;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}

.greenbutton:after{
    content: " ";
    width: 0px;
    height: 0px;
    position: absolute;
    right:8px;
    top:0;
    bottom: 0;
    margin: auto;
    border-left: 8px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

/* ========== HOME PAGE ================= */
#homeImgs {
>>>>>>> 0dac77679a35b7f1d53512f73efbb02836254981
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    z-index: -2;
    text-align: center;  
}

#homeImgs h3, #packages h3 {
    font-family:'AbadiMT-CondensedExtraBold';
    color: #fff;
/*    text-shadow: 3px 4px 5px rgb(80,80,80);*/
    font-size: 3em;
    font-weight: bold;  
}

#homeImgs h3{
    padding-top: 320px;
}

/* ============ HOME Page - Steps 1 2 3 ================= */
.ch-grid {
    margin: 300px 0 100px 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid li:nth-child(1){
    margin-left: 0 !important;
}

.ch-grid li:nth-child(3){
    margin-right: 0 !important;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 298px;
    height: 298px;
    display: inline-block;
    margin: 14px;
}


.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 4px rgba(0,0,0,0.5);
        
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
    background-image: url(../img/step1hov.png);
}

.ch-img-2 { 
    background-image: url(../img/step2hov.png);
}

.ch-img-3 { 
    background-image: url(../img/step3hov.png);
}

.ch-hov-1{
    background-image: url(../img/step1.png);
}

.ch-hov-2{
    background-image: url(../img/step2.png);
}

.ch-hov-3{
    background-image: url(../img/step3.png);
}

.ch-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: 0;
    left:0;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-backface-visibility: hidden;
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}
/* ============ HOME Page - packages ================= */
#packages h3{
    color: rgb(159,206,55);
    margin-top: 0;
}

#packages {
    position: relative;
<<<<<<< HEAD
    padding-top: 40px;
=======
<<<<<<< HEAD
    top: -250px;
=======
    padding-top: 40px;
>>>>>>> 0dac77679a35b7f1d53512f73efbb02836254981
>>>>>>> Contact Page & Campsite Page html added
}

#packages a, #packages figure {
    display: inline-block;
    text-align: center;
}

#packages img {
    width: 230px;
    height: 230px;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
/* ============ CONTACT PAGE ================= */
/**{
    border: 1px solid red;
}*/
iframe {
    width: 100%;
    height: 600px;
}
#contactUs {
    position: relative;
    top: -250px;
}
#contactUs h3 {
    color: rgb(159,206,55);
    font-family:'AbadiMT-CondensedExtraBold';
    font-size: 3em;
    font-weight: bold; 
    width: 100%;
    text-align: center;
}

#contactDeets {
    width: 40%;
    float: left;
    text-align: right;
    padding: 5%;
    color: rgb(159,206,55);
}

#contact-form {
    width: 40%;
    float: right;
    padding: 5%;
}
=======
>>>>>>> Contact Page & Campsite Page html added

/*===========================================================================
                        Map Page
============================================================================= */

.mapbgimg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
    text-align: center;  
    background-image: url(../img/map_img/sky-bg.jpg);
    background-attachment: fixed;
}

.maparea{
    position: relative;
    padding-top: 100px;
}



.grad h1{
    text-align: center;
    font-size: 58px;
    color: #9FCE37;
    font-family: 'AbadiMT-CondensedLight';
    margin-top: 20px;
}

.map{
    width: 453px;
    height: 635px;
    background-image: url(../img/map_img/map.png);
    position: relative;
    margin-left: 5%;
}

.map-hov{
    position: relative;
    opacity: 0;
}

.map-hov:hover{
/*        opacity: 1;*/
    cursor: pointer;
}

.nth-top{
    width: 124px;
    height: 143px;
    background-image: url(../img/map_img/nrth-top.png);
    left:209px;
    top:33px;
}
.nth-mid{
    width: 165px;
    height: 96px;
    background-image: url(../img/map_img/nrth-mid.png);
    left:250px;
    top:25px;
}
.nth-btm{
    width: 89px;
    height: 88px;
    background-image: url(../img/map_img/nrth-btm.png);
    left:271px;
    top:17px;
}
.sth-top{
    width: 103px;
    height: 94px;
    background-image: url(../img/map_img/sth-top.png);
    left:168px;
    top:-30px;
}
.sth-mid{
    width: 170px;
    height: 93px;
    background-image: url(../img/map_img/sth-mid.png);
    left:75px;
    top:-36px;
}
.sth-btm{
    width: 142px;
    height: 101px;
    background-image: url(../img/map_img/sth-btm.png);
    left:34px;
    top:-46px;
}
.stuart{
    width: 24px;
    height: 28px;
    background-image: url(../img/map_img/stuart.png);
    left:69px;
    top:-44px;
}




/*=========== box ==============*/

.box{
    /*width:300px;*/
    position: absolute;
    top:150px;
    right:10%;
    width: 316px;
    height: 353px;
}

.box2{
    display: none;
    width: 0;
    height: 0;
    /*overflow: hidden;*/
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.1);
    position: absolute;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,.5);
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,.1),
    0px 0px 0px 2px rgba(255,255,255,.5), ;

    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,0.1) 48%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0.3)), color-stop(1%,rgba(255,255,255,0.3)), color-stop(48%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.1) 48%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.1) 48%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.1) 48%,rgba(255,255,255,0.3) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.1) 48%,rgba(255,255,255,0.3) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.box2:before{
    position: absolute;
    content: " ";

    border-right: 30px solid rgba(255,255,255,.6);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    left:-32px;
    top:50px;
}

.bubblesite{
    display: block;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    /*border: 1px solid rgba(255,255,255,.5);*/ 
    margin-bottom: 7px;
    box-shadow:  0 0 1px 1px rgba(255,255,255,.6), 2px 2px 1px 1px rgba(0,0,0,.2);

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-8 */
}

.bubblesite:hover, .top5{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmY2UzNyIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(159,206,55,0.6) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(159,206,55,0.6)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(159,206,55,0.6) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(159,206,55,0.6) 0%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(159,206,55,0.6) 0%,rgba(255,255,255,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(159,206,55,0.6) 0%,rgba(255,255,255,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999fce37', endColorstr='#ccffffff',GradientType=0 ); /* IE6-8 */
}

.box3{
    opacity: 0;
    padding: 17px;
}

.top5{
    width: 280px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3),
    0px 0px 1px 1px rgba(255,255,255,.5);
    margin-bottom: 20px;
}

.top5 p{
    font-family: 'AbadiMT-CondensedExtraBold';
    font-weight: normal;
    color: #576C27;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0;
    padding-left: 6px;
    padding-top: 2px;
}

.bubblesite h3{
    margin: 0;
    display: inline-block;
    font-family: 'AbadiMT-CondensedExtraBold';
    font-weight: normal;
    color: #576C27;
    letter-spacing: 2px;
    font-size: 14px;
    padding:12px 0 0 6px;

    line-height: 20px;
}

.acticons{
    float: right;
    margin: 5px 5px 0 0;
    height: 30px;
}

.icon{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.iconfish{
    background-image: url(../img/icons/fishing.png);
    background-size: 100%;
}
.iconbike{
    background-image: url(../img/icons/bike.png);
    background-size: 100%;

}
.icontree{
    background-image: url(../img/icons/hiking.png);
    background-size: 100%;

}

.box .greenbutton{
    float: right;
}

/*===========================================================================
                        Cart Page
============================================================================= */

.carttable{
    width:100%;
    position: relative;
    margin-bottom: 50px;
}

.cartcontainer{
    margin-top: 180px;
}

.tablehead{
    height: 40px;
    font-family: 'AbadiMT-CondensedLight';
    font-size: 20px;
    color: #576C27;
    letter-spacing:1px;
}

.tablehead td:first-child{
    padding-left: 20px;
}

.tablehead div{
    width: 100%;
    height: 40px;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: #D4E6AC;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,.1),
    0 0 0 1px white,
    3px 3px 6px rgba(0,0,0,.2);
}

.tablegrad td{
    padding: 10px 0;
}

.tablegrad td, .cartform label, .cartform p, .mobilecarttable td{
    font-family: 'AbadiMT-CondensedLight';
    font-size: 20px;
    font-weight: 100;
    color: #576C27;
}

.cartform label{
    margin: 0 6px 0 10px;
}


.carttable th, .mobilecarttable th{
    text-align: left;
    font-family: 'AbadiMT-CondensedLight';
    font-size: 25px;
    font-weight: 100;
    color: #9FCE37;
    letter-spacing: 1px;
}

.tablegrad div{
    width: 100%;

    position: absolute;
    /*background-color: blue;*/
}

.carttable tr td:nth-child(2){
    width: 28%;
}

.carttable img, .mobilecarttable img{
    display: block;
    border: 2px solid #95C11F;
    margin-top: 10px;
}

.remove{
    display: block;
    height: 25px;
    width: 25px;
    margin: 0 auto;
    background-image: url(../img/cart_img/remove.png);
    background-repeat: no-repeat;
}

.remove:hover{
    background-position: 1px 1px;
}

.checkouttotal{
    position: relative;
    padding-top: 10px;
}

.checkouttotal .radialouter{
    top:0;
}

.cartform{
    float: right;
    text-align: right;
}

.checkouttotal .greenbutton{
    padding: 10px 40px 5px 30px;
}


.mobilecarttable{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: none;
}

.mobilecarttable th{
    text-align: center;
}



<<<<<<< HEAD
=======
>>>>>>> 0dac77679a35b7f1d53512f73efbb02836254981
>>>>>>> Contact Page & Campsite Page html added

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (max-width: 600px) {

    .carttable{display: none;}

    .mobilecarttable{display: table;}

    .checkouttotal{
        text-align: center;
    }

    .cartform{
        float: none;
        text-align: center;
    }

    .cartform div{
        float: none;
        display: inline-block;
        margin-bottom: 30px;
    }

    .checkouttotal .greenbutton{
        float: none;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.centerAlign {
    text-align: center;
}

.line{

    width:100%;
    height:1px;
    margin:0 auto;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmVmZWZiIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjZGNlZjlhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzQlIiBzdG9wLWNvbG9yPSIjZGNlZjlhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(254,254,251,0) 1%, rgba(220,239,154,1) 27%, rgba(220,239,154,1) 74%, rgba(255,255,255,0.04) 99%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(254,254,251,0)), color-stop(27%,rgba(220,239,154,1)), color-stop(74%,rgba(220,239,154,1)), color-stop(99%,rgba(255,255,255,0.04)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(254,254,251,0) 1%,rgba(220,239,154,1) 27%,rgba(220,239,154,1) 74%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(254,254,251,0) 1%,rgba(220,239,154,1) 27%,rgba(220,239,154,1) 74%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(254,254,251,0) 1%,rgba(220,239,154,1) 27%,rgba(220,239,154,1) 74%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(254,254,251,0) 1%,rgba(220,239,154,1) 27%,rgba(220,239,154,1) 74%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
}

.radialouter{
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    width:100%;
    max-width: 960px;
    height:300px;
    margin:0 auto;
    overflow:hidden;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(203,237,123,0.4) 0%, rgba(225,238,192,0) 71%, rgba(233,239,219,0) 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(203,237,123,0.4)), color-stop(71%,rgba(225,238,192,0)), color-stop(99%,rgba(233,239,219,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(203,237,123,0.4) 0%,rgba(225,238,192,0) 71%,rgba(233,239,219,0) 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(203,237,123,0.4) 0%,rgba(225,238,192,0) 71%,rgba(233,239,219,0) 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(203,237,123,0.4) 0%,rgba(225,238,192,0) 71%,rgba(233,239,219,0) 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(203,237,123,0.4) 0%,rgba(225,238,192,0) 71%,rgba(233,239,219,0) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cbed7b', endColorstr='#00e9efdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-position:0 -150px;
    background-repeat:no-repeat;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}